* {
   font-family: 'Inter', sans-serif;
}

.object__cell {
   position: relative;
}

.object__cell:after {
   content: '';
   position: absolute;
   border: 1px solid #d9d9e3;
   height: calc(100% - 40px);
   left: 12px;
   width: 2px;
   top: 40px;
   border-radius: 2px;
}

#__next {
   height: calc(100vh - 40px);
}
